$font-color:#09f501;

@mixin background-base {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.accountList{
    height:100vh;
    width: 100vw;
    color:$font-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userTable, #transactionTable{
    color:$font-color;
}

.transact-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 30vh;
}

.table-container{
    height: 70vh;
    width: 90vw;
    overflow: auto;
}

#createAccount{
    position:absolute;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(117, 39, 39, 0.055);
    
    right: 10vw;
    bottom: 5vh;
    border-radius: 5vmin;
}
#register_modal{
    box-shadow: #c9653c 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: transparent;
}
.accountList{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#name_input, #email_input, #password_input,#balance_input, #register2, #modal_head, #modal_body{
    background-color:#22272e;
    color:#c9653c; 
    border:none;
    
}

#create_account{
    background-color: black;
    border: 3px solid rgb(58, 57, 56);
    color:#645080; 
}

#close{
    color:#e56b63;
    background-color: black;
    border: 3px solid rgb(58, 57, 56);
}
#create-name,#name_input{
    color:#6c9ed5;
    font-size: 1rem;
    
}
#name_input{
    border:1px solid #afccf3;
}
#create-email,#email_input{
    color:#d64839;
    font-size: 1rem;
}
#email_input{
    border:1px solid #afccf3;
}
#create-password,#password_input{
    color:#60b0ee;
    font-size: 1rem;
}
#password_input{
    border:1px solid #afccf3;
}

#create-balance,#balance_input{
    color:#ec9942;
    font-size: 1rem;
}
#balance_input{
    border:1px solid #afccf3;
}

.create-account-placeholder{
    height:1rem;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: center;
}

#account-header{
    color: white;
}