@font-face {
    font-family:'Consola';
    src: url('../utils/CONSOLA.TTF');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

@mixin background-base {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin container-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.transact-parent{
  height:50%;
  width: 100%;
  background-image: url('../utils/test2.jpg');
}

.transact-sub{
    @include background-base();
    @include container-position();
    height: 80%;
    

    // height:30em;
    // width: 20em;

    // background-color:transparent;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(243, 144, 126, 0.527) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;  
    background-image: url('../utils/test4.gif')
}

// #transfer-sub{

//     // height:30em;
//     // // width: 20em;
//     // text-align: center;
// }
.transact-sub2{
    @include container-position();
    height: 100%;
    width: 100%;
}

.mb-3{

    color:rgba(255, 0, 0, 0.938);
    font-size: 1rem;
    font-weight: bold;
    font-family: Consola;
    
}

.muted-container{
    text-align: center;
    height: 3rem;
    width: 18em;
}

#errorMessage{
    color: red;
    font-size: 1rem;
    font-weight: 800;
}

h1 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#wrapper {
	 text-align: center;
}

.sub {
	color: rgb(100,220,220);
	letter-spacing: 1em;
}

@mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch {
    position: relative;
    color: black;
    font-size: 2em;
    font-weight: bold;
    /* letter-spacing: .5em; */
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before{
    @include glitchCopy;
    left: 2px;
    text-shadow: -2px 0 #0f0755;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 white/* , 2px 2px white */;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

.white-glitch{
  color: white;
}

@keyframes glitch-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
              transform: skew((random(100) / 100) + deg);
      }
    }
  }

  @keyframes glitch-anim2 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
              transform: skew((random(100) / 100) + deg);
      }
    }
  }

  @keyframes glitch-skew {
    $steps: 10;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        transform: skew((random(10) - 5) + deg);
      }
    }
  }
#deposit-button, #transfer-button{
  background-color: #2196f3;
  color:white;
  transition: 0.2s;
  border: none;
}
.transact-button:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.transactionAccountList {
  width: 100%;
  height: 50%;
}

.main-parent {
  @include container-position();
  width: 100vw;
  height: 100vh;
}

.number-input {
  height: 1.5rem;
}