@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
@font-face {
  font-family: 'Consola';
  src: url("../utils/CONSOLA.TTF");
}

.transact-parent {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  background-image: url("../utils/test2.jpg");
}

.transact-sub {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30em;
  width: 20em;
  background-color: transparent;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  -webkit-box-shadow: rgba(243, 144, 126, 0.527) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(243, 144, 126, 0.527) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background-image: url("../utils/test4.gif");
}

#transfer-sub {
  height: 30em;
  width: 20em;
  text-align: center;
}

.transact-sub2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mb-3 {
  color: rgba(255, 0, 0, 0.938);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Consola;
}

.muted-container {
  text-align: center;
  height: 5em;
  width: 18em;
}

#errorMessage {
  color: red;
  font-size: 1.2em;
  font-weight: 800;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

.glitch {
  position: relative;
  color: black;
  font-size: 3em;
  font-weight: bold;
  /* letter-spacing: .5em; */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #0f0755;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 white;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(33px, 9999px, 82px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  5% {
    clip: rect(6px, 9999px, 85px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  10% {
    clip: rect(57px, 9999px, 53px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  15% {
    clip: rect(1px, 9999px, 100px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  20% {
    clip: rect(45px, 9999px, 54px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  25% {
    clip: rect(94px, 9999px, 91px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  30% {
    clip: rect(57px, 9999px, 98px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  35% {
    clip: rect(16px, 9999px, 75px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  40% {
    clip: rect(74px, 9999px, 23px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  45% {
    clip: rect(71px, 9999px, 7px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  50% {
    clip: rect(47px, 9999px, 44px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  55% {
    clip: rect(70px, 9999px, 2px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  60% {
    clip: rect(69px, 9999px, 20px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  65% {
    clip: rect(57px, 9999px, 95px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  70% {
    clip: rect(89px, 9999px, 63px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  75% {
    clip: rect(38px, 9999px, 61px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  80% {
    clip: rect(61px, 9999px, 12px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  85% {
    clip: rect(24px, 9999px, 54px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  90% {
    clip: rect(86px, 9999px, 12px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  95% {
    clip: rect(91px, 9999px, 50px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  100% {
    clip: rect(44px, 9999px, 49px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(33px, 9999px, 82px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  5% {
    clip: rect(6px, 9999px, 85px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  10% {
    clip: rect(57px, 9999px, 53px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  15% {
    clip: rect(1px, 9999px, 100px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  20% {
    clip: rect(45px, 9999px, 54px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  25% {
    clip: rect(94px, 9999px, 91px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  30% {
    clip: rect(57px, 9999px, 98px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  35% {
    clip: rect(16px, 9999px, 75px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  40% {
    clip: rect(74px, 9999px, 23px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  45% {
    clip: rect(71px, 9999px, 7px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  50% {
    clip: rect(47px, 9999px, 44px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  55% {
    clip: rect(70px, 9999px, 2px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  60% {
    clip: rect(69px, 9999px, 20px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  65% {
    clip: rect(57px, 9999px, 95px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  70% {
    clip: rect(89px, 9999px, 63px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  75% {
    clip: rect(38px, 9999px, 61px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  80% {
    clip: rect(61px, 9999px, 12px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  85% {
    clip: rect(24px, 9999px, 54px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  90% {
    clip: rect(86px, 9999px, 12px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  95% {
    clip: rect(91px, 9999px, 50px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  100% {
    clip: rect(44px, 9999px, 49px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(6px, 9999px, 87px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  5% {
    clip: rect(27px, 9999px, 37px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  10% {
    clip: rect(96px, 9999px, 71px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  15% {
    clip: rect(36px, 9999px, 74px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  20% {
    clip: rect(80px, 9999px, 21px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  25% {
    clip: rect(72px, 9999px, 20px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  30% {
    clip: rect(97px, 9999px, 44px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  35% {
    clip: rect(48px, 9999px, 100px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  40% {
    clip: rect(44px, 9999px, 21px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  45% {
    clip: rect(66px, 9999px, 21px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  50% {
    clip: rect(6px, 9999px, 72px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  55% {
    clip: rect(100px, 9999px, 79px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  60% {
    clip: rect(30px, 9999px, 80px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  65% {
    clip: rect(40px, 9999px, 87px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  70% {
    clip: rect(73px, 9999px, 8px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  75% {
    clip: rect(96px, 9999px, 18px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  80% {
    clip: rect(99px, 9999px, 18px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  85% {
    clip: rect(10px, 9999px, 28px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  90% {
    clip: rect(85px, 9999px, 96px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  95% {
    clip: rect(19px, 9999px, 90px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  100% {
    clip: rect(82px, 9999px, 66px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(6px, 9999px, 87px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  5% {
    clip: rect(27px, 9999px, 37px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  10% {
    clip: rect(96px, 9999px, 71px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  15% {
    clip: rect(36px, 9999px, 74px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  20% {
    clip: rect(80px, 9999px, 21px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  25% {
    clip: rect(72px, 9999px, 20px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  30% {
    clip: rect(97px, 9999px, 44px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
  35% {
    clip: rect(48px, 9999px, 100px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  40% {
    clip: rect(44px, 9999px, 21px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  45% {
    clip: rect(66px, 9999px, 21px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  50% {
    clip: rect(6px, 9999px, 72px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  55% {
    clip: rect(100px, 9999px, 79px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  60% {
    clip: rect(30px, 9999px, 80px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  65% {
    clip: rect(40px, 9999px, 87px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  70% {
    clip: rect(73px, 9999px, 8px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  75% {
    clip: rect(96px, 9999px, 18px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  80% {
    clip: rect(99px, 9999px, 18px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  85% {
    clip: rect(10px, 9999px, 28px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  90% {
    clip: rect(85px, 9999px, 96px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  95% {
    clip: rect(19px, 9999px, 90px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  100% {
    clip: rect(82px, 9999px, 66px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  10% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  20% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  30% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  40% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  70% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  100% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  10% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  20% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  30% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  40% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  70% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  100% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
}

#deposit-button, #transfer-button {
  background-color: #2196f3;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
}

.transact-button:hover {
  color: #255784;
  background: #2196f3;
  -webkit-box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
          box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
/*# sourceMappingURL=Deposit.css.map */