
svg{
    height: 90%;
    width: 50%;
    
}
.login-parent{
    height: 100vh;
    width: 100vw;
}
.login-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.svg-parent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.form-parent{
    margin-top: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.form-parent, .svg-parent{
    height: 50%;
    width: 100vw;
}

#register{
    height: 30%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media (max-width:414px){
    svg{
        height: 40vh;
    }
}

@media (max-width:375px){
    svg{
        height: 150%;
    }
}