@mixin background-base {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@mixin container-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.transact-parent{
    @include background-base();
    height:50vh;
    width: 100vw;
    /* background-image: url('../utils/test2.gif') */
}
.transact-sub{
    @include container-position();
    height:50vh;
    width: 30vw;
    
}
.transact-sub2{
    @include container-position();
    height: 80vh;
}
