@mixin background-base {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@mixin container-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.transact-parent{
    @include background-base();
    height:100vh;
    width: 100vw;
    /* background-image: url('../utils/test2.gif') */
}
.transact-sub{
    @include container-position();
    height:50vh;
    width: 30vw;

    background-color:transparent;
    /* box-shadow: rgb(38, 57, 77) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  */ 
    
}

.transact-sub2{
    @include container-position();
}
