@font-face {
    font-family:'Consola';
    src: url('../utils/CONSOLA.TTF');
}
$fill-color: #00c600;
$font-color:#09f501;

@mixin flex-prop {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
}
@mixin background-base {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*{
    font-family: Consola;
}

svg{
    height: 90%;
    width: 50%;
}

.admin-svg{
    fill:$fill-color;   
}

.adminlogin-parent{
    background-image: url('../utils/trybg.gif');
    background-color: black;
}

.form-placeholder{
    color:$font-color;
    background-color: black;
}

.form-placeholder:focus{
    color:$font-color;
    background-color: black;
}

.mb-3{
    text-align: center;
}
.login-label{
    color:black;
}
.adminmb3{
    color:$font-color;
}

.form-button,.form-button:hover{
    background-color:$font-color;
    border: none;
}


.login-parent{
    @include background-base();
    height: 100vh;
    width: 100vw;
    

}
.login-parent{
    @include flex-prop();
    justify-content: center;

}

.svg-parent{
    @include flex-prop();
    justify-content: flex-end;

}

.form-parent{
    @include flex-prop();
    margin-top: 10vmin;
    justify-content: flex-start;
}

.form-parent, .svg-parent{
    height: 50%;
    width: 100vw;
}

#register{
    @include flex-prop();
    height: 30%;
    width: 100vw;
    justify-content: center;

}
#userSwitch{
    margin-top: 10vmin;
    border: 1px solid black;
}
#userSwitch:checked{
    background-color: $font-color;
    border-color: $fill-color;
}

@media (max-width:375px){
    svg{
        height: 150%;
    }
    #userSwitch{
        margin-top: 20vmin;
    }
}

@media (max-width:414px){
    svg{
        height: 40vh;
    }
    #userSwitch{
        margin-top: 20vmin;
    }
}
@media (max-width:320px){
    svg{
        height: 40vh;
    }
    #userSwitch{
        margin-top: 25vmin;
    }
}

@media (max-width:540px){
    svg{
        height: 40vh;
    }
    #userSwitch{
        margin-top: 20vmin;
    }
}

